In [3]:
# loop

# For loop

fruits = ["apple","banana","cherry","dragonFruit"]

for fruit in fruits:
    if fruit == "apple":
        print(fruit)
        break

apple

In [4]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(0,50,2):
    print(f"Even number: {i}")

Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Even number: 10
Even number: 12
Even number: 14
Even number: 16
Even number: 18
Even number: 20
Even number: 22
Even number: 24
Even number: 26
Even number: 28
Even number: 30
Even number: 32
Even number: 34
Even number: 36
Even number: 38
Even number: 40
Even number: 42
Even number: 44
Even number: 46
Even number: 48

In [13]:
adj= ["red","big","tasty"]
fruits = ['apple','banana','cherry']

for i in adj:
    for f in fruits:
        print(i,f)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [24]:
# Question 1 : Write a Program to Calculate the Sum of the First N Natural Numbers: Create a Python program 
#that asks the user to enter a positive integer, N,and then calculates and prints the sum of the first N natural numbers. Use a for loop.
n = int(input("Enter the number: "))
sum = 0
for i in range(n+1):
    print(i)
    sum+=i

print(sum)

Enter the number:  5

0
1
2
3
4
5
15

In [25]:
rows = 5

for i in range(1,rows+1):
    print("*"*i)

*
**
***
****
*****

In [2]:
rows = 5
for i in range(1,rows+1):
    print( "*"*i)

*
**
***
****
*****

In [2]:
# WAP to take a number as an input from user and print the multiplication of that input.

n = int(input("Enter the number: "))

for i in range(1,11):
      print(f"{n} x {i} = {n*i}")

Enter the number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
res = ""
for i in range(1,6):
    res+=str(i)
    print(res)

1
12
123
1234
12345